.header__link {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
    margin: 6px 0 0;
}

.header__link:hover {
    cursor: pointer;
    opacity: 0.6;
}