.element__like {
  background-image: url('../../../images/icons/heart.svg');
  width: 22px;
  height: 19px;
  border: none;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  text-align: center;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .element__like {
    margin-top: 0;
    align-self: center;
  }
}

.element__like:hover {
    opacity: .5;
}

.element__like_active {
  opacity: 1;
  background-image: url('../../../images/icons/heart_active.svg');
}
