.header {
  border-bottom: 1px solid rgba(84,84,84, .7);
	max-width: 880px;
  padding-bottom: 41px;
	margin: 45px auto 0;
	width: 100%;
}

@media screen and (max-width: 400px) {
	.header{
		margin-top: 28px;
		padding-bottom: 31.6px;
		max-width: 320px;
	}
}
